<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/list.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/764963a2f9.js" crossorigin="anonymous"></script>
    <script src="./js/js17_menu.js"></script>  
    <title>관심 상품</title>
    <script>
        function like(element) {
            element.classList.toggle('fa-regular');
            element.classList.toggle('fa-solid');
        }   
        function teabag(element) {
            element.classList.toggle('triangle_1');
            element.classList.toggle('triangle_2');
        }   
    </script>
</head>
<body>
    <div class="top">
        <div class="logo_wrap">
            <a href="/6.main_page.html" class="computa_logo"><img src="./login img/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">
                <a href=""><img src="./icon/recent.png">최근내역</a>
                <a href=""><img src="./icon/tea-bag.png">마이티백</a>
                <a href=""><img src="./icon/login.png">로그인</a>
            </div>            
        </div>
        
    </div>

    <nav class="navbar">        
        <ul class="navbar_menu">
            <li><a href="./4.like_prod.html">관심상품</a></li>
            <li><a href="#">우려먹기 내역</a></li>
            <li><a href="./2.list.html">문의게시판 내역</a></li>
            <li><a href="#">나의 티백</a></li>
        </ul>        
    </nav>

    <nav class="sortbar">        
        <ul class="sortbar_menu">
            <li><a href="#">cpu</a>↑↓</li>
            <li><a href="#">gpu</a>↑↓</li>
            <li><a href="#">마더보드</a>↑↓</li>
            <li><a href="#">케이스</a>↑↓</li>
            <li><a href="#">램카드</a>↑↓</li>
            <li><a href="#">파워</a>↑↓</li>
            <li><a href="#">쿨러</a>↑↓</li>
            <li><a href="#">HDD</a>↑↓</li>
            <li><a href="#">SSD</a>↑↓</li>            
        </ul>       
    </nav>
    
    <div class="used_wrap">
        <div class="used_list">
            <div class="used_product">                 
                <a href="./5.used_list_detail.html" class="used_img">
                    <img src="./img/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div>
                <div class="teabag">
                    <div class="container_2">
                        <i class="triangle_1" onclick = "teabag(this)"></i>
                    </div>
                </div>
                <p>
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>   
            </div>  
        </div>  

        <div class="like_search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>  

        <div class="board_page">
            <a href="a" class="bt first"><<</a>
            <a href="a" class="bt prev" ><</a>
            <a href="a" class="num on">1</a>
            <a href="a" class="num">2</a>
            <a href="a" class="num">3</a>
            <a href="a" class="num">4</a>
            <a href="a" class="num">5</a>
            <a href="a" class="num">6</a>
            <a href="a" class="bt next">></a>
            <a href="a" class="bt last">>></a>
        </div>
    
        <div class="like_bt_wrap">
            <a href="a" class="on">글쓰기</a>
            <a href="a" class="on">티백만들기</a>        
        </div>

    </div>   
    <div class="tap">
        <div class="like_tap">
            <div class="used_btn">
                <a href="./4.like_prod.html">
                    <p>관</p>
                    <p>심</p>
                    <p>상</p>
                    <p>품</p>
                </a>
            </div>        
            <div class="prod_btn">
                <a href="./4-1.like_prod.html">
                    <p>우</p>
                    <p>려</p>
                    <p>먹</p>
                    <p>기</p>
                </a>
            </div>
        </dvi> 
    </div>
    </div>
    
</body>
</html>