 /* 마이페이지 전체 영역(위쪽) */
 .my_main_container{
         margin-top: 0;
         margin-left: auto;
         margin-right: auto;
         padding: 8px 0px;

         width: 1000px;
         height:383px;

         background-color: #187771;
     }
                    
/* 유저 닉네임 영역 */
.my_user_container{   
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: .5rem;
    padding-bottom: 5rem;
    width: 300px;
    height: 260px;
    
    position: relative;
}
/* 유저 프로필(테이블) */
.my_user{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center
}
/* 유저 사진 */
#my_main_photo{
    display: flex; 
    border-radius: 50%;           
}
/* 유저 닉네임 */
#nickname{
    font-size: 40px;
    font-weight: 1px;
    color: beige;

    letter-spacing: -6px;
}

#my_td_0{padding:0.3rem;}

/* 유저 이름 칸*/
#my_td_1{
    padding-left: 0.5rem;
    padding-right: 0.6rem;

    text-align: right;
    font-size: 15px;
    color: antiquewhite;

    letter-spacing: -1px;
}
/* 회원수정 칸 */        
#my_td_2{text-align: left;}
/* 회원수정 버튼 */  
#my_main_modify{
    padding: 0.2rem;
    padding-bottom: 2rem;
    padding-right: 0.5rem;

    height: 2rem;

    border-radius: 23%;
    border:1px dashed beige;

    background-color: rgba(127, 255, 212, 0.562);
    color:rgb(75, 59, 31);
    letter-spacing:-3px;

    cursor: pointer;
}
/*=====================================================*/

/* 마이페이지 전체 영역(아래쪽) */
.select_container{
    margin-top: 7rem;
    margin-left: auto;
    margin-right:auto;
    padding: 8px 0px; 

    width: 1000px;
    height: 130px;

    background-color: #1fa097e3;
    font-size: 15px;

    display: flex; 
    justify-content: space-around;
}

/* a태그 */
.my_main_a{
    margin-top: 1.5rem;

    height: 100px;
    
    text-decoration: none;
    text-align: center;
    color:whitesmoke;
    
    letter-spacing: -4px;
}

/* a태그 글자크기*/
.a_tbl_d{font-size: 25px;}
