/* 바로가기 버튼 영역 */
.remote{
    border-collapse: collapse;
    border-color: rgba(68, 102, 69, 0.788);
    
    position:fixed;
    top:50rem;
    right:1rem;
    z-index: 9999;
}

/* 바로가기 버튼 디자인*/
.pr_dt_short{
    padding: 10px;

    text-align: center;
    
    background-color: rgba(62, 151, 78, 0.096);
    font-size: 15px;
}

/* 바로가기 버튼 */
#pr_dt_shortcut{
    font-size: small;
    font-weight: bold;
    text-decoration-line: none;
    color: darkgreen;    
}
/* 위로가기 버튼 */
#pr_dt_top{
    font-size: small;
    font-weight: bold;
    text-decoration-line: none;
    color: darkgreen;    
}
/*==============================================*/

/*제품 영역(div) */
.pr_dt_pf{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    padding:0;

    width: 1000px;
    height:auto;
}

/* 제품 영역(테이블) */
.pr_dt_table{
    margin-left: auto;
    margin-right: auto;

    width: 60rem;

    border-collapse: collapse;
    border-bottom: 0.5rem #187771  solid;
}

/* 큰 사진 */
.pr_dt_photo{
    width:400px;
    border-right: 3px rgba(74, 150, 108, 0.103) dotted;  

    text-align: center;
}

/* 작은 사진 */
.pr_dt_photos{
    padding: 0.5rem;

    width:2rem;
    border-bottom: 3px rgba(74, 150, 108, 0.103) dotted;
    
    text-align: center;    
    cursor: pointer;
}
#pr_dt_photos{
    border-right: 3px rgba(74, 150, 108, 0.103) dotted;   
}

/* 상품명 & 가격 */
.pr_dt_name{border-bottom: 3px rgba(74, 150, 108, 0.103) dotted;}
#pr_dt_name{font-size: 30px; padding-left: 0.5rem;}
.pr_dt_price{border-bottom: 3px rgba(74, 150, 108, 0.103) dotted;}
#pr_dt_price{font-weight: bold;font-size: 30px; padding-left: 0.5rem;}
/*============================================================================*/

/*가격 비교 영역*/
.price_compare_td{
    border-bottom: 3px rgba(74, 150, 108, 0.103) dotted;
}
.price_compare{
    outline: solid 1px black;

    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    height:auto;
}


/*제품 상세 영역*/
.pr_detail{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    height: auto;

    line-height: 1.8rem;
    letter-spacing: -2px;
    word-spacing: 3px;
    font-size: 20px;
}
/*============================================================================*/
/* 댓글 전체 영역(div) */
.pr_dt_reply{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    
    width:70rem;
    height: 500px;
    
    display: relative;
}


/*댓글 쓰기 영역(div) */
.pr_dt_com_write{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding:1.5rem;

    width:57rem;
    outline: dashed 1px #187771;
}

/* 댓글 유저 프로필 */
#pr_dt_write_1{
    padding:0.5rem;
    padding-right: 2rem;

    text-align: center;
}

#pr_dt_write_2{
    padding-right: 2rem;
}

.pr_dt_tbl_3{
    text-align: center;
}


/*============================================================================*/

/* 댓글 보기 영역(div) */
.pr_dt_com_view{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    padding:0.5rem;
    outline: dashed 1px #187771;

    width: 59rem;
}

/* 댓글 보기 테이블 */
.pr_dt_comview_table{
    padding:rem;
}

/* 댓글 보기 사진*/
#pr_dt_view_1{
    width: 120px;
    text-align: center;
}

/* 댓글 닉네임 & 등록일 */
#pr_dt_view_2{width: 200px;}

/* 댓글 수정 &삭제 버튼*/
#pr_dt_view_3{width:50px}
#pr_dt_view_4{width:50px}

/* 댓글 글내용 */
.pr_dt_comview_view{
    margin: 0.5rem;
    padding:0.5rem;
    height:auto;
    background-color: white;
    outline: dotted 1px;
}
/*============================================================================*/

/*신고 메세지 영역*/
.pr_dt_report{
    position: relative;
    width: 33.5rem;
    height: 4.5rem;
}

/* 신고 버튼 */
#pr_dt_report{
    position: absolute;
    top:1.56em;
    cursor:pointer;
}

/* 신고사유 영역 */
.dropdown_content{
    display: none;
    text-align: center;
    outline: solid 2px #187771;
    position:absolute;
    z-index: 1;
    background-color: white;
    top:3rem;
    left:1.5rem;
    width:200px;
}

/* 신고사유 버튼 */
.dropdown_content input{
    border:none;
    background-color: white;
    cursor: pointer;
}
/*============================================================================*/
