<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .qnapopup {
        align-items: center;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: green;
        border: solid green 5px;
    }

    .icon {
        align-items: center;
        width:100px;
        height:180px;
    }


</style>
<body>
    <div class="qnapopup">
        <img src="../../IMG/HSH/computa.png" alt="icon" class="icon"><br>
        <p>게시물이 등록되었습니다!</p>
    </div>
</body>
</html>