<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="myshop.css">
  <link rel="stylesheet" href="menubar.css">
  <link rel="stylesheet" href="used_menu.css">
</head>
<body>

  <div class="navbar">      
    <ul class="navbar_menu">
        <li><a href="#">조립PC</a></li>
        <li><a href="#">PC견적</a></li>
        <li><a href="#">부품</a></li>
        <li><a href="#">노트북</a></li>
        <li><a href="#">문의</a></li>
        <li><a href="#">우려먹기</a></li>
        <li><a href="#">파격할인</a></li>
        <li><a href="#">이벤트</a></li>
        <li><a href="#">브랜드스토어</a></li>            
    </ul>  
    </div><br>

    <div class="myshop">
        <h1>내 찻잔</h1>
    </div>

    <!--내찻잔 상품 리스트 컨테이너-->
    <div class="adfaf">
    <div class="used_container">
        <!--내찻잔 상품1-->
        <div class="used_items">
            <div class="used_image">
                <a href="http://www.naver.com"><img src="cpu.jpg" alt="중고" class="used_item"></a>        
            </div>
            <div class="used_name">
                <p>상품명 : Intel CPU팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  30000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
        <div class="used_items">
            <div class="used_image">
                <a href="http://www.naver.com"><img src="cpu.jpg" alt="중고" class="used_item"></a>        
            </div>
            <div class="used_name">
                <p>상품명 : Intel CPU팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  30000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품2-->
        <div class="used_items">          
            <div class="used_image">
                <a href="http://www.naver.com"><img src="gpu.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 갤럭시 2070 RTX팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  300000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품3-->
        <div class="used_items">         
            <div class="used_image">
                <a href="http://www.naver.com"><img src="case.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 사용 케이스 팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  20000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품4-->
        <div class="used_items">        
            <div class="used_image">
                <a href="http://www.naver.com"><img src="hdd.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 1TB 하드팝니다 </p>
            </div>
            <div class="used_price">
                <p>가격 :  15000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

    </div>
    <div class="used_container">
        <!--내찻잔 상품1-->
        <div class="used_items">
            <div class="used_image">
                <a href="http://www.naver.com"><img src="cpu.jpg" alt="중고" class="used_item"></a>        
            </div>
            <div class="used_name">
                <p>상품명 : Intel CPU팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  30000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
        <div class="used_items">
            <div class="used_image">
                <a href="http://www.naver.com"><img src="cpu.jpg" alt="중고" class="used_item"></a>        
            </div>
            <div class="used_name">
                <p>상품명 : Intel CPU팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  30000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품2-->
        <div class="used_items">          
            <div class="used_image">
                <a href="http://www.naver.com"><img src="gpu.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 갤럭시 2070 RTX팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  300000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품3-->
        <div class="used_items">         
            <div class="used_image">
                <a href="http://www.naver.com"><img src="case.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 사용 케이스 팝니다</p>
            </div>
            <div class="used_price">
                <p>가격 :  20000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

            <!--내찻잔 상품4-->
        <div class="used_items">        
            <div class="used_image">
                <a href="http://www.naver.com"><img src="hdd.jpg" alt="중고" class="used_item"></a>         
            </div>
            <div class="used_name">
                <p>상품명 : 1TB 하드팝니다 </p>
            </div>
            <div class="used_price">
                <p>가격 :  15000</p>
            </div>            
            <!--상품 수정, 삭제할 수 있는 옵션 호버링-->
            <div class="used_opt">
            <ul class="used_menu">
                <li>
                    <a href="#"><img src="dot.png" alt="상품수정"></a>
                    <ul class="used_menubar">
                        <li><a href="#">수정하기</a></li>
                        <li><a href="#">삭제하기</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</body>

            