<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function showPopup_unregi() {
            window.open("unregister.html", "a", "width=400, height=300, left=100, top=50")
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/HYJ/hyj_list.css}">
</head>
<body>
    <div id="check" onload="window.resizeTo(400,200)">
        <fieldset>
            <h3 style="text-align: center;">정말로 탈퇴 하시겠습니까?</h3>
            <div class="btn_yn">
            <input type="button" id="btn_yes"  value="네" onclick=showPopup_unregi()>
            <input type="button" id="btn_no" value="아니요" onclick="window.close()" style="float: center;" >
            </div>
        </fieldset>
    </div>
</body>
</html>