<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호찾기페이지</title>
    <script src="js/jquery3.7.1.js"></script>
    <script src="js/jquery.innerfade.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/src/main/resources/templates/JS/LRH/js17_menu.js"></script>
    <link rel="stylesheet" href="../../CSS/HYJ/hyj_list.css">
    <link rel="stylesheet" href="../../CSS/HSJ/hsj_list.css">
    <link rel="stylesheet" href="../../CSS/LRH/list.css">
    <!-- <link rel="stylesheet" href="../../CSS/LRH/style.css"> -->
    <script>
         function showPopup_showPw() { 
          window.open("show_pw.html", "a", "width=400, height=300, left=750, top=100"); 
        }
        
        var popup = popupOpen('show_pw.html' ,"비밀번호",0,0,500,500);
        // var popup = popupOpen('http://www.naver.com' ,"네이버");
        //var popup = popupOpen('http://www.naver.com' );



        // 빈칸 공백시 alert 경고창으로 출력하기 구현 1
        //   $('.button').click(function(){
        //     if($("#userid").val().trim()==""){
        //         alert("내용을 입력하세요");
        //         return false;
        //     }
        //     return true;
        //   })



        // 빈칸 공백시 alert 경고창으로 출력하기 구현 2

        // document.querySelector('.submit').addEventListener('click', function(e) {
        //     if (document.querySelector('#userid').val().trim() == '') {
        //         // id라는 id를 선택하고 해당 input이 공백일 경우
        //         e.preventDefault() // 폼 전송을 막음
        //         alert('아이디를 입력해주세요') // '아이디를 입력해주세요' 라는 경고창을 띄움
        //     }
        //     if (document.querySelector('#username').val().trim() == '') {
        //         // pw라는 id를 선택하고 해당 input이 공백일 경우
        //         e.preventDefault()  // 폼 전송을 막음
        //         alert('이름을 입력해주세요')  // '비밀번호를 입력해주세요' 라는 경고창을 띄움
        //     }
        //     if (document.querySelector('#ssd1' && '#ssd2').val().trim() == '') {
        //         // ssd1과 ssd2 id를 동시에 선택하고 해당 input이 공백일 경우
        //         e.preventDefault()  // 폼 전송을 막음
        //         alert('주민번호를 입력해주세요') // '주민번호를 입력해주세요' 라는 경고창을 띄움
        //     }

        //     else{
        //         showPopup();
        //     }

        // });

    </script>
</head>
<body>

     <!-- top 로고 & 검색 & 메뉴navbar -->
     <div class="top">
        <div class="logo_wrap">
            <a href="/src/main/resources/templates/HTML/LRH/6.main_page.html" class="computa_logo"><img src="/src/main/resources/templates/IMG/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/recent.png">최근내역</a>
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/tea-bag.png">마이티백</a>
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/login.png">로그인</a>
            </div>            
        </div>
    </div>

    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">PC견적</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/1.product_list.html">부품</a></li>            
            <li><a href="">문의</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/7.used_product_list.html" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>


    
    <!-- 비밀번호 찾기 form -->
    <div id="findpass">
        <h2 style="font-size: 22px; margin-bottom: 7px;">비밀번호 찾기</h2>
        <form action="" method="get">
            <fieldset>
            <div class = "passform">
            <table class="pw_table">
            <tr class="pw_title">
                <td  class="pw_title">
                  <label for="userid">아이디 </label>
                </td>
                <td class="pw_con">
			      <input type="text" placeholder="hong123" id="pw_userid"  class="input_pw" maxlength="20" name="userid" required/>
                </td>  <br>
            </tr>
            <tr>
                <td  class="pw_title">
                    <label for="username">이름 </label>
                </td>
                <td class="pw_con">
                    <input type="text" placeholder="홍길동" id="pw_username" class="input_pw" maxlength="20"  name="username" required/><br />
                </td>
            </tr>
            <tr>
                <td  class="pw_title">
                    <label for="rrn">주민번호 </label>
                </td>
                <td class="pw_con">
                    <input type="text" maxlength="6" placeholder="991122"  name="ssd1" id="pw_rrd1" class="input_pw" required/> - 
                    <input type="password" maxlength="7"  name="ssd2" id="pw_rrd2" class="input_pw" required/>
                </td>
            </tr>
        </table>
        <div class="pw_btn">
        <input type="submit" class="submit" value="확인" id="pw_btn">
        </div>
    </div>
        </fieldset>
    </form>
</div>
</div>

</body>
</html>
