<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지(회원수정)</title>
    <script>
        function showPopup_check() { 
          window.open("check.html", "a", "width=400, height=300, left=100, top=50"); 
        }

        function showPopup_modi(){
            window.open("modi.html", "a", "width=400, height=300, left=100, top=50"); 
        }
        
        // var popup = popupOpen("check.html" ,"탈퇴확인", 0,0,500,500);
    </script>

    <link rel="stylesheet" href="/css/hyj_css/hyj_list.css">
    <link rel="stylesheet" href="/css/lrh_css/list.css">

</head>
<body>
    <!--  로고 영역 -->
    <div class="admin_logo_wrap">
        <img src="./image/computa_logo.png" alt="" width="100px">
    </div>


   	<!-- 메인 navbar 영역  -->   
	   <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="#" class="lee_a">조립PC</a></li>
            <li><a href="#" class="lee_a">PC견적</a></li>
            <li><a href="#" class="lee_a">부품</a></li>
            <li><a href="#" class="lee_a">노트북</a></li>
            <li><a href="#" class="lee_a">문의</a></li>
            <li><a href="#" class="lee_a">우려먹기</a></li>
            <li><a href="#" class="lee_a">파격할인</a></li>
            <li><a href="#" class="lee_a">이벤트</a></li>
            <li><a href="#" class="lee_a">브랜드스토어</a></li>            
        </ul>        
    </div>

    <!-- 회원번호 수정 영역 -->
    <table  id="profile">
        <tr>
            <td colspan="2"><h1 style="text-align: center;">회원정보 수정</h1></td>
        </tr>
        <tr>
            <td colspan="2" id="pf_photo">
                <form method="post" enctype="multipart/form-data">
                    <div class= "button">
                       <label for="tr_pr_img">
                          <img src = "./image/upload.jpg" width="200" height="200" style="cursor:pointer;" id="preview_image"/>
                    </label>
                    </div>
                    <input type="file" id="tr_pr_img" name="tr_pr_img" accept="image/*" onchange="loadFile(this)" required> 
                </form>
        </td>
        </tr>
        <tr>
            <td class="pf_list"><label for="userid" style="margin-top: 20px;" class="modi_title">닉네임 </label></td>
            <td class="pf_input"><input type="text" id="userid"  maxlength="10" />
            <input type="button" value="중복확인"></td>
        </tr>
        <tr>
            <td class="pf_list"><label for="pw" class="modi_title">비밀번호 </label></td>
            <td class="pf_input"><input id="pw" type="password" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td class="pf_list"><label for="pw" class="modi_title">비밀번호 확인 </label></td>
            <td class="pf_input"><input id="checkpw" type="password" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td class="pf_list"><label for="userid" class="modi_title">이름</label></td>
             <td class="pf_input">
                <input type="text" id="username"  maxlength="10" />
            </td>
        </tr>
        <tr>
            <td class="pf_list"><label for="userid" class="modi_title">이메일 </label></td>
            <td class="pf_input">
                <input type="email" id="email"  maxlength="40" />
            </td>
        </tr>
        <tr>
            <td class="pf_list"><label for="rrn" class="modi_title">주민번호</label></td>
            <td class="pf_input">
                <input id="rrn" type="text" maxlength="6" /> - 
                <input type="password" maxlength="7" id="rrn" />
            </td>
        </tr>
        <tr>
            <td></td>
                <td id="pf_mod" class="pf_input">
                <input type="button" value="수정하기"  onclick=showPopup_modi() style="align-items: center;">  
                <input type="button" value="탈퇴하기" onclick=showPopup_check() style="align: center;">
            </td>
        </tr>
    </table>
    <script>
        function readImage(input){
            if(input.files && input.files[0]){
                const reader= new FileReader();

                reader.onload=function(e){
                    const previewImage=document.getElementById("preview_image");
                    previewImage.src= e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            MakeNew();
        }

        const inputImage = document.getElementById("tr_pr_img");
        inputImage.addEventListener("change",function(e){
            readImage(e.target);});
    </script>
</body>
</html>