<!DOCTYPE html>
<html lang="en">
<head>
<!-- &nbsp; 공백 칸 -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품등록페이지</title>
	<link rel="stylesheet" href="/css/hyj_css/hyj_list.css" type="text/css">
	<link rel="stylesheet" href="/css/lrh_css/list.css" type="text/css">

</head>
<body>

	<!--logo-->
    <div class="admin_logo_wrap">
        <img src="./image/computa_logo.png" alt="" width="100px">
    </div>
    <!--navbar-->
    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="#" class="lee_a">조립PC</a></li>
            <li><a href="#" class="lee_a">PC견적</a></li>
            <li><a href="#" class="lee_a">부품</a></li>
            <li><a href="#" class="lee_a">노트북</a></li>
            <li><a href="#" class="lee_a">문의</a></li>
            <li><a href="#" class="lee_a">우려먹기</a></li>
            <li><a href="#" class="lee_a">파격할인</a></li>
            <li><a href="#" class="lee_a">이벤트</a></li>
            <li><a href="#" class="lee_a">브랜드스토어</a></li>            
        </ul>        
    </div>



   	<!-- 상품 등록 영역 -->
   	<div id="content">
   			<div class="title" style="float: left">
   				<h2>상품 이미지 <span style="color: red;">*</span></h2>
   			</div>   

			<!-- 상품이미지 등록하기 -->

			<div id='image_preview'>
				<h3>이미지 미리보기 </h3>
				<input type='file' id='btnAtt' multiple='multiple'/>
				<div id='att_zone' 
					 dataplaceholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
				</div>

			<script>
				( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
				  imageView = function imageView(att_zone, btn){
				
					var attZone = document.getElementById(att_zone);
					var btnAtt = document.getElementById(btn)
					var sel_files = [];
				
					// 이미지와 체크 박스를 감싸고 있는 div 속성
					var div_style = 'display:inline-block;position:relative;'
								  + 'width:150px;height:120px;margin:5px;';
					// 미리보기 이미지 속성
					var img_style = 'width:100%;height:100%;z-index:none';
					
					// 이미지안에 표시되는 체크박스의 속성
					var chk_style = 'width:22px;height:30px;position:absolute;font-size:23px;'
								  + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';
				
					btnAtt.onchange = function(e){
					  var files = e.target.files;
					  var fileArr = Array.prototype.slice.call(files)
					  for(f of fileArr){
						imageLoader(f);
					  }
					  
					}  
				
				
					// 탐색기에서 드래그앤 드롭 사용
					attZone.addEventListener('dragenter', function(e){
					  e.preventDefault();
					  e.stopPropagation();
					}, false)
				
					attZone.addEventListener('dragover', function(e){
					  e.preventDefault();
					  e.stopPropagation();
					}, false)
				
					attZone.addEventListener('drop', function(e){
					  var files = {};
					  e.preventDefault();
					  e.stopPropagation();
					  var dt = e.dataTransfer;
					  files = dt.files;
					  for(f of files){
						imageLoader(f);
					  }
				  
					}, false)
				
				
				
					/*첨부된 이미지들을 배열에 넣고 미리보기  db*/
					
					imageLoader = function(file){
					  sel_files.push(file);
					  var reader = new FileReader();
					  reader.onload = function(ee){
						let img = document.createElement('img')
						img.setAttribute('style', img_style)
						img.src = ee.target.result;
						attZone.appendChild(makeDiv(img, file));
					  }
				  
					  reader.readAsDataURL(file);
					}


				
				
					/*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
					makeDiv = function(img, file){
					  var div = document.createElement('div')
					  div.setAttribute('style', div_style)


					  if(attZone.childElementCount >= 5) {
						alert('이미지파일 첨부는 최대 5개까지 업로드가 가능합니다.');
						return
						}

					//  X 버튼 만들기  
					  var btn = document.createElement('input')
					  btn.setAttribute('type', 'button')
					  btn.setAttribute('value', 'x')
					  btn.setAttribute('delFile', file.name);
					  btn.setAttribute('style', chk_style);

					//  X 버튼 클릭 시 삭제

					  btn.onclick = function(ev){
						var ele = ev.srcElement;
						var delFile = ele.getAttribute('delFile');
						for(var i=0 ;i<sel_files; i++){
						  if(delFile== sel_files[i].name){
							sel_files.splice(i, 1);      
						  }
						}
					
						dt = new DataTransfer();
						for(f in sel_files) {
						  var file = sel_files[f];
						  dt.items.add(file);
						}
						btnAtt.files = dt.files;
						var p = ele.parentNode;
						attZone.removeChild(p)
					  }
					  
					  div.appendChild(img)
					  div.appendChild(btn)
					  return div
					}
				  }
				)('att_zone', 'btnAtt')
			
			</script>

			<!--
			<script>
				function setThumbnail(event) {
				  var reader = new FileReader();
		  
				  reader.onload = function(event) {
					var img = document.createElement("img");
					img.setAttribute("src", event.target.result);
					document.querySelector("div#image_container").appendChild(img);
				  };
		  
				  reader.readAsDataURL(event.target.files[0]);
				}
			  </script>  -->

<hr>   
   			<div class="title" style="float: left">
   			<h2>상품명 <span style="color: red;">*</span></h2>
   			</div>   
   			<div class= "input">
   				<input type="text">
   			</div>   
   		<hr/> 
		
		
   			<div class="title" style="float: left">
   				<h2>카테고리 <span style="color: red;">*</span> </h2>
   			</div>   
   			<div class="input" id="open" onclick="showDetail()">
   				<select name="categorie" id="categorie">
   					<option value="cpu">CPU</option>
   					<option value="gpu">GPU</option>
   					<option value="ram">RAM</option>
   					<option value="ssd">SSD</option>
   					<option value="hdd">HDD</option>
   					<option value="motherboard">메인보드</option>
   					<option value="cooler">쿨러</option>
   					<option value="case">케이스</option>
				</select>
				<span style="float: center;"></span>
			</div>   
				<hr/>   
   			<div class="title" style="float: left">
   				<h2>가격 <span style="color: red;">*</span> </h2>
   			</div>
   			<div class= "input">
   				<input type="text">
   			</div>
   			<hr/>   
   			<div class="title" style="float: left">
   				<h2>상품 설명</h2>
   			</div>   
   			<div class="input">
   				<textarea name="prod_desc" id="desc" cols="50" rows="10" placeholder="상품 설명을 적어주세요"></textarea>
   				</textarea>
   			</div>   
   			<hr/>   
   			<div class="title" style="float: left">
   				<h2>상세 이미지 <span style="color: red;">*</span></h2>
   			</div>   
   			<div class="input">
   				<input type="text" placeholder="선택된 파일 없음"> 
   				<input type="file" name="upload" >
   			</div>
   			
   		</div>   
   		<br><br>
   		<div style="text-align:center;">
   		<button style="display: inline-block;">등록하기</button>
   		</div>
   </div>

</body>
</html>