<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의게시판(글목록)페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/src/main/resources/templates/JS/LRH/js17_menu.js"></script>  
    <script src="/src/main/resources/templates/JS/LRH/hvoer.js"></script> 
    <script>
        
    </script>
    <link rel="stylesheet" href="../../CSS/HYJ/hyj_list.css">
    <link rel="stylesheet" href="../../CSS/HSJ/hsj_list.css">
    <link rel="stylesheet" href="../../CSS/LRH/list.css">
</head>
<body>
     <!-- top 로고 & 검색 & 메뉴navbar -->
     <div class="top" style="z-index: 1;">
        <div class="logo_wrap">
            <a href="/src/main/resources/templates/HTML/LRH/6.main_page.html" class="computa_logo"><img src="/src/main/resources/templates/IMG/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">                
                <ul class="recent" id="gnb">
                    <li class="m">
                        <a href="#">
                            <img src="/src/main/resources/templates/IMG/LRH/recent.png" >최근내역<!--최근내역-->
                        </a> 
                        <ul>
                            <div class="recent_area">
                                <div class="recent_title">
                                    <p><strong>최근내역</strong><p>
                                </div>
                                <div class="recent_prod_list">
                                    <div class="recent_prod">                                            
                                        <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                                            <img src="/src/main/resources/templates/IMG/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                                            <img src="/src/main/resources/templates/IMG/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>
                                    <div class="recent_prod">                                            
                                        <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                                            <img src="/src/main/resources/templates/IMG/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                                            <img src="/src/main/resources/templates/IMG/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>                                                              
                                </div>
                                
                            </div>
                        </ul>
                    </li>
                </ul>

                <a href=""><img src="/src/main/resources/templates/IMG/LRH/tea-bag.png">마이티백</a>
                <a href="/src/main/resources/templates/HTML/CMH/login_page.html"><img src="/src/main/resources/templates/IMG/LRH/login.png">로그인</a>
            </div>            
        </div>
        
    </div>

    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="/src/main/resources/templates/HTML/HSJ/my_main.html">마이페이지</a></li>
            <li><a href="#">PC견적</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/1.product_list.html">부품</a></li>            
            <li><a href="/src/main/resources/templates/HTML/HYJ/qna_list.html">문의</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/7.used_product_list.html" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>



    <!--  검색 & 글쓰기 버튼 영역 -->
	<div id="wrap">
        <h2>검색 &nbsp;<input type="text" style="margin-top: 20px;">
        <input type="button" value="글쓰기"  style="margin-top: 20px; margin-left: 5px;">
        
    </div> 
    
    
    <br><br><br><br>

    <!-- <select id="dataPerPage" style="float: right;">
        <option value="10">10개씩보기</option>
        <option value="15">15개씩보기</option>
        <option value="20">20개씩보기</option>
    </select>
    <br>

    2. 페이징 표시할 부분 html 
    <ul id="pagingul">
        
    </ul> 
    -->


    <!-- 3. 데이터 표시할 테이블 html -->
    <span id="displayCount"></span>


    <table border="1" class = "dataTableBody"> 
            <tr style="font-size: medium; background-color: antiquewhite;">
                <th style="width: 100px;">글번호 </th>
                <th style="width: 300px; height: 30px;">글제목 </th>
                <th style="width: 100px;">닉네임 </th>
                <th style="width: 200px;">등록일 </th>
                <th style="width: 100px;">조회수 </th>
            </tr>
            <tr class=notice style="text-align: center;">
                <td>공지사항</td>
                <td>공지사항 입니다.</td>
                <td>관리자</td>
                <td>2023-01-10</td>
                <td>124</td>
            </tr>
            <tr class=notice style="text-align: center;">
                <td>공지사항</td>
                <td>공지사항 입니다.</td>
                <td>관리자</td>
                <td>2023-01-10</td>
                <td>465</td>
            </tr>
            <tr class=notice style="text-align: center;">
                <td>공지사항</td>
                <td>공지사항 입니다.</td>
                <td>관리자</td>
                <td>2023-01-10</td>
                <td>75</td>
            </tr>
            <tr class=notice style="text-align: center;">
                <td>공지사항</td>
                <td>공지사항 입니다.</td>
                <td>관리자</td>
                <td>2023-01-10</td>
                <td>438</td>
            </tr>
            <tr style="text-align: center;">
                <td id="qna_list_num">1</td>
                <td id="qna_list_title"><a href="/src/main/resources/templates/HTML/HSJ/qna_detail.html">글제목 입니다.</a></td>
                <td id="qna_list_nick">닉네임</td>
                <td id="qna_list_date">2023-01-10</td>
                <td id="qna_list_view">23</td>
            </tr>
            <tr style="text-align: center;">
                <td>2</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>3</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>4</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>5</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>6</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>7</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>8</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>9</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
            <tr style="text-align: center;">
                <td>10</td>
                <td>글제목 입니다.</td>
                <td>닉네임</td>
                <td>2023-01-10</td>
                <td>23</td>
            </tr>
    </table>
    


    <!-- js 페이징 -->

    <div class="board_page">
        <a href="a" class="bt first"><<</a>
        <a href="a" class="bt prev" ><</a>
        <a href="a" class="num on">1</a>
        <a href="a" class="num">2</a>
        <a href="a" class="num">3</a>
        <a href="a" class="num">4</a>
        <a href="a" class="num">5</a>
        <a href="a" class="num">6</a>
        <a href="a" class="bt next">></a>
        <a href="a" class="bt last">>></a>

    </div>
</body>
</html>