<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고관리페이지</title>
    <script>
        function pageAlgo(total, bottomSize, listSize, cursor ){
          //total = 총 갯수
          //bottomSize = 하단크기
          //listSize = 화면에서 보여줄 크기
          //cursor = 현재 나의 페이지
      
          let totalPageSize = Math.ceil(total / listSize)  //한 화면에 보여줄 갯수에서 구한 하단 총 갯수 
      
          let firstBottomNumber = cursor - cursor % bottomSize + 1;  //하단 최초 숫자
          let lastBottomNumber = cursor - cursor % bottomSize + bottomSize;  //하단 마지막 숫자
      
          if(lastBottomNumber > totalPageSize) lastBottomNumber = totalPageSize  //총 갯수보다 큰 경우 방지
      
          return {
              firstBottomNumber,
              lastBottomNumber,
              totalPageSize,
              total,
              bottomSize,
              listSize,
              cursor
          }
}

//280개의 데이터, 하단에는 20개씩, 1개화면에는 10개, 지금 나의페이지는 21
let info = pageAlgo(280, 20, 10, 21)  


//실제 출력하는 방법 샘플
for(let i = info.firstBottomNumber ; i <= info.lastBottomNumber; i++){
    i == info.cursor ? console.log(`<span>cur : ${i}</span>`) : console.log(`<span>${i}</span>`)
}

    </script>
   
<link rel="stylesheet" href="/css/hyj_css/hyj_list.css" type="text/css">
<link rel="stylesheet" href="/css/lrh_css/list.css" type="text/css">

</head>
<body>
    <!-- 로고영역 -->
    <div class="admin_logo_wrap">
        <img src="./image/computa_logo.png" alt="" width="100px">
    </div>

    <table border="1" class="report_table" style="margin-top: 60px;">
        <tr style="font-size: medium; background-color: antiquewhite;">
            <th style="width: 100px;">글번호 </th>
            <th style="width: 300px; height: 30px;">신고유형 </th>
            <th style="width: 100px;">신고자 </th>
            <th style="width: 200px;">신고 등록일 </th>
            <th style="width: 200px;">신고 출처 </th>
        </tr>
        <tr style="text-align: center;">
            <td>1</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>2</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>3</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>4</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>5</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>6</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>7</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>8</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>9</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>10</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>    
        <tr style="text-align: center;">
            <td>11</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>12</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>13</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>14</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>15</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>16</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>17</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>18</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>19</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>20</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
    </table>

    <!-- js 페이징 처리 예정 -->
    <!-- <h4 style="text-align: center;"> << <  1 2 3 4 5 > >> </h4> -->
    <div id="pagination">
    <a href="url" id=""><</a>
    <a href="url" id=""><<</a> &nbsp;
    <a href="url" id="">1</a>
    <a href="url" id="">2</a>
    <a href="url" id="">3</a>
    <a href="url" id="">4</a>
    <a href="url" id="">5</a> &nbsp;
    <a href="url" id="">></a>
    <a href="url" id="">>></a>
    </div>    


</body>
</html>