<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고관리페이지</title>
    <script>
        function pageAlgo(total, bottomSize, listSize, cursor ){
          //total = 총 갯수
          //bottomSize = 하단크기
          //listSize = 화면에서 보여줄 크기
          //cursor = 현재 나의 페이지
      
          let totalPageSize = Math.ceil(total / listSize)  //한 화면에 보여줄 갯수에서 구한 하단 총 갯수 
      
          let firstBottomNumber = cursor - cursor % bottomSize + 1;  //하단 최초 숫자
          let lastBottomNumber = cursor - cursor % bottomSize + bottomSize;  //하단 마지막 숫자
      
          if(lastBottomNumber > totalPageSize) lastBottomNumber = totalPageSize  //총 갯수보다 큰 경우 방지
      
          return {
              firstBottomNumber,
              lastBottomNumber,
              totalPageSize,
              total,
              bottomSize,
              listSize,
              cursor
          }
}

//280개의 데이터, 하단에는 20개씩, 1개화면에는 10개, 지금 나의페이지는 21
let info = pageAlgo(280, 20, 10, 21)  


//실제 출력하는 방법 샘플
for(let i = info.firstBottomNumber ; i <= info.lastBottomNumber; i++){
    i == info.cursor ? console.log(`<span>cur : ${i}</span>`) : console.log(`<span>${i}</span>`)
}

    </script>
   
   <link rel="stylesheet" href="../../CSS/HYJ/hyj_list.css">
   <link rel="stylesheet" href="../../CSS/HSJ/hsj_list.css">
   <link rel="stylesheet" href="../../CSS/LRH/list.css">
   <link rel="stylesheet" href="../../CSS/LRH/style.css">

</head>
<body>
   <!-- top 로고 & 검색 & 메뉴navbar -->
   <div class="top">
    <div class="logo_wrap">
        <a href="/src/main/resources/templates/HTML/LRH/6.main_page.html" class="computa_logo"><img src="/src/main/resources/templates/IMG/LRH/computa icon.png" alt="logo" width="100"></a>
    </div>
    
    <div class="search">
        <input type="text" placeholder="검색어 입력">
        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
    </div>
    <div class="myinfo">
        <div class="myinfo_icon">
            <a href="../../HTML/LRH/recent_test1.html"><img src="/src/main/resources/templates/IMG/LRH/recent.png">최근내역</a>
            <a href="#"><img src="/src/main/resources/templates/IMG/LRH/tea-bag.png">마이티백</a>
            <a href="../../HTML/CMH/login_page.html"><img src="/src/main/resources/templates/IMG/LRH/login.png">로그인</a>
        </div>            
    </div>
</div>

<div class="navbar">      
    <ul class="navbar_menu">
        <li><a href="../../HTML/HSJ/my_main.html">마이페이지</a></li>
        <li><a href="#">PC견적</a></li>
        <li><a href="/src/main/resources/templates/HTML/LRH/1.product_list.html">부품</a></li>            
        <li><a href="../../HTML/LRH/2.list.html">문의</a></li>
        <li><a href="../../HTML/LRH/7.used_product_list.html" style="color: red;">우려먹기</a></li>                    
    </ul>        
</div>

<div class="report_table">
    <table border="1" class="report_table">
        <tr style="font-size: 14px;">
            <th style="width: 100px;">글번호 </th>
            <th style="width: 300px; height: 45px;">신고유형 </th>
            <th style="width: 100px;">신고자 </th>
            <th style="width: 200px;">신고 등록일 </th>
            <th style="width: 200px;">신고 출처 </th>
        </tr>
        <tr style="text-align: center;">
            <td>1</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>2</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>3</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>4</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>5</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>6</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>7</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>8</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>9</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>10</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>    
        <tr style="text-align: center;">
            <td>11</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>12</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>13</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>14</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>15</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>16</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>17</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>18</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>19</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
        <tr style="text-align: center;">
            <td>20</td>
            <td>글제목 입니다.</td>
            <td>닉네임</td>
            <td>2023-01-10</td>
            <td><a href="https:/naver.com" target="_blank">신고출처링크</a></td>
        </tr>
    </table>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

    <!-- js 페이징 처리 예정 -->
    <!-- <h4 style="text-align: center;"> << <  1 2 3 4 5 > >> </h4> -->
    <div class="board_page">
        <a href="a" class="bt first"><<</a>
        <a href="a" class="bt prev" ><</a>
        <a href="a" class="num on">1</a>
        <a href="a" class="num">2</a>
        <a href="a" class="num">3</a>
        <a href="a" class="num">4</a>
        <a href="a" class="num">5</a>
        <a href="a" class="num">6</a>
        <a href="a" class="bt next">></a>
        <a href="a" class="bt last">>></a>

    </div>


</body>
</html>