<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="unregister" onload="window.resizeTo(400,200)">
        <fieldset style="text-align: center;">
            <h3>탈퇴가 완료되었습니다!</h3>
            <h4>그 동안 이용해주셔서 감사합니다</h4>
            <br><br>
            <input type="button" value="창 닫기" id="btn_close" onclick="window.close()" >
        </fieldset>
    </div>
</body>
</html>