<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete_check</title>
    
    <style>
        #div_pop{
            outline: solid 3px green;

            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            padding:3rem;

            width: 20rem;
            height: 10rem;

            text-align: center;
        }

        #text_pop{
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;            
        }
    </style>
</head>
<body>
    <div id="div_pop">
        <p id="text_pop">삭제 되었습니다.</p>
        <input type='BUTTON' value="창닫기" onClick='window.close()'>
        
    </div>
    
</body>
</html>