<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>마이페이지_메인페이지</title>

    <script src="https://kit.fontawesome.com/3489f966e6.js" crossorigin="anonymous"></script>
    <script src="../js/click_btn.js"></script>
    <link rel="stylesheet" href="../../CSS/HSJ/hsj_list.css">
    <link rel="stylesheet" href="../../CSS/HSJ/css_lee/list.css">
</head>

<body>
    <!--logo-->
    <div class="admin_logo_wrap">
        <img src="../../img/HSJ/computa.png" alt="" width="100px">
    </div>
    
    <!--navbar-->
    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="#" class="lee_a">조립PC</a></li>
            <li><a href="#" class="lee_a">PC견적</a></li>
            <li><a href="#" class="lee_a">부품</a></li>
            <li><a href="#" class="lee_a">노트북</a></li>
            <li><a href="#" class="lee_a">문의</a></li>
            <li><a href="#" class="lee_a">우려먹기</a></li>
            <li><a href="#" class="lee_a">파격할인</a></li>
            <li><a href="#" class="lee_a">이벤트</a></li>
            <li><a href="#" class="lee_a">브랜드스토어</a></li>            
        </ul>        
    </div>


    <div class="my_main_container">
        <!--유저 닉네임영역-->
        <div class="my_user_container">
            <table class="my_user">
                <tr>
                    <td colspan="2"><img src="../../IMG/HSJ/ham.jpg" alt="pf photo" width="200" id="my_main_photo"></td>
                </tr>
                <tr>
                    <td colspan="2" id="my_td_0"><span id="nickname">닉네임</span></td>
                </tr>
                <tr>
                    <td id="my_td_1"><span id="name">이*름님</span></td>
                    <td id="my_td_2"><button id="my_main_modify" type="button" onclick="location.href='my_modify.html'">회원수정</button>
                    </td>
                </tr>
            </table>   
        </div>        

        <!--마이페이지 바로가기 영역-->
        <div class="select_container">
            <a href=".html" class="my_main_a">
                <table class="my_t">
                    <tr><td><i class="fa-solid fa-mug-hot fa-4x"></i></td></tr>
                    <tr><td class="a_tbl_d">관심상품</td></tr>
                </table>
            </a>
            <a href="mypage_trade.html" class="my_main_a">
                <table class="my_t">
                    <tr><td><i class="fa-solid fa-mug-hot fa-4x"></i></td></tr>
                    <tr><td class="a_tbl_d">우려먹기</td></tr>
                </table>
            </a>
            <a href="mypage_qna.html" class="my_main_a">
                <table class="my_t">
                    <tr><td><i class="fa-solid fa-mug-hot fa-4x"></i></td></tr>
                    <tr><td class="a_tbl_d">문의내역</td></tr>
                </table>
            </a>
            <a href="mypage_teabag.html" class="my_main_a">
                <table class="my_t">
                    <tr><td><i class="fa-solid fa-mug-hot fa-4x"></i></td></tr>
                    <tr><td class="a_tbl_d">마이티백</td></tr>
                </table>
            </a>
        </div>
    </div>
    
</body>
</html>