<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래_글쓰기 페이지</title>
    <link rel="stylesheet" th:href="@{/css/HSJ/hsj_list.css}">
    <link rel="stylesheet" th:href="@{/css/LRH/style.css}">
    <link rel="stylesheet" th:href="@{/css/LRH/menubar.css}">
    <link rel="stylesheet" th:href="@{/css/HYJ/table.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/764963a2f9.js" crossorigin="anonymous"></script>
    <script src="/js/LRH/js17_menu.js"></script>  
    <script src="/js/LRH/hvoer.js"></script>
</head>

<body>
    <div class="top">
        <div class="logo_wrap">
            <a th:href="@{/index}" class="computa_logo"><img src="/images/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">                
                <ul class="recent" id="gnb">
                    <li class="m">
                        <a href="#">
                            <img src="/images/LRH/recent.png" >최근내역<!--최근내역-->
                        </a> 
                        <ul>
                            <div class="recent_area" >
                                <div class="recent_title">
                                    <p><strong>최근내역</strong><p>
                                </div>
                                <div class="recent_prod_list" >
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.htm}l" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.htm}l" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>                                                              
                                </div>
                                
                            </div>
                        </ul>
                    </li>
                </ul>

                <a th:href="@{/}"><img src="/images/LRH/tea-bag.png">마이티백</a>
                <a th:href="@{/login_page.html}"><img src="/images/LRH/login.png">로그인</a>
            </div>            
        </div>
    </div>

    <div class="navbar" style="z-index: -1;">      
        <ul class="navbar_menu">
            <li><a th:href="@{/my_main.html}">마이페이지</a></li>
            <li><a th:href="@{/}">PC견적</a></li>
            <li><a th:href="@{/1.product_list.html}">부품</a></li>            
            <li><a th:href="@{/qna_list.html}">문의</a></li>
            <li><a th:href="@{/7.used_product_list.html}" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>
    
    <form action="" method="get"><div class="tr_pr">
        <table border="0" class="tr_pr_table">

            <!--상품종류(select)-->
            <tr>
                <td class="tr_pr_left">상품종류<span id="star">*</span></td>
                <td>
                    <div class="pcpart">
                        <span>메인보드</span>
                    </div>
                </td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>


            <!-- 상세스펙 -->
            <tr>
                <td class="tr_pr_left">상세 스펙</td>
                <td>
                    <div class="tr_pr_spec">
                        <table border="1"class="motherboard_table_i" id="prod_table">
                            <tr>
                                <td class="prod_title">제조회사</td>
                                <td class="content"><input type="text" id="company"></td>
                                <td class="prod_title">등록년월</td>
                                <td class="content"><input type="date" id="date"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">기본 사양 </td></tr>
                            <tr>
                                <td class="prod_title">제품 분류</td>
                                <td id="kind" class="content"><input type="text" id=""></td>
                                <td class="prod_title">CPU 소켓</td>
                                <td id="socket" class="content"><input type="text" id="socket"></td>
                            </tr>
                            <tr>
                                <td class="prod_title">세부 칩셋</td>
                                <td id="" class="content"><input type="text" id=""></td>
                                <td class="prod_title">CPU 장착수</td>
                                <td id="ver" class="content"><input type="number" id="">개</td>
                            </tr>
                            <tr>
                                <td class="prod_title">폼팩터</td>
                                <td class="content"><input type="text" id="form_factor"></td>
                                <td class="prod_title">쓰레드수</td>
                                <td class="content"><input type="text" id="threads"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">메모리</td></tr>
                            <tr>
                                <td class="prod_title">메모리 종류</td>
                                <td class="content"><input type="text" id="ram_kind"></td>
                                <td class="prod_title">메모리 속도</td>
                                <td class="content"><input type="text" id="ram_speed">5600MHz (PC5-44800)</td>
                            </tr>
                            <tr>
                                <td class="prod_title">메모리 슬롯</td>
                                <td class="content"><input type="text" id="ram_slots"></td>
                                <td class="prod_title">메모리 채널</td>
                                <td class="content"><input type="text" id=""></td>
                            </tr>
                            <tr>
                                <td class="prod_title">메모리 용량</td>
                                <td class="content">최대 <input type="text" id="">GB</td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">확장슬롯</td></tr>
                            <tr>
                                <td class="prod_title">VGA 연결</td>
                                <td class="content"><input type="text" id=""></td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">PCIe버전 </td></tr>
                            <tr>
                                <td class="prod_title">PCIe4.0</td>
                                <td class="content"><input type="radio" name="pci1">O <input type="radio" name="pci1">X </td>
                                <td class="prod_title">PCIe3.0</td>
                                <td class="content"><input type="radio" name="pci2">O <input type="radio" name="pci2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">PCI</td>
                                <td class="content"><input type="radio" name="pci3">O <input type="radio" name="pci3">X </td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">PCIe슬롯</td></tr>
                             <tr>
                                <td class="prod_title">PCIex16</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title">PCIex1</td>
                                <td class="content"><input type="number" id="">개</td>
                            </tr>
                            <tr>
                                <td class="prod_title">PCI</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">저장장치인터페이스</td></tr>
                            <tr>
                                <td class="prod_title">M.2</td>
                                <td class="content"><input type="radio" name="m1">O <input type="radio" name="m1">X </td>
                                <td class="prod_title">SATA3(6Gb/s)</td>
                                <td class="content"><input type="radio" name="m2">O <input type="radio" name="m2">X </td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4"></td></tr>
                            <tr>
                                <td class="prod_title">M.2</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title">SATA3</td>
                                <td class="content"><input type="number" id="">개</td>
                            </tr>
                            <tr>
                                <td class="prod_title">USB 3.0</td>
                                <td class="content">후면 <input type="number" id="">개</td>
                                <td class="prod_title">USB 2.0</td>
                                <td class="content">후면 <input type="number" id="">개</td>
                            </tr>
                            <tr>
                                <td class="prod_title">시스템팬 4핀</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title">USB2.0 헤더</td>
                                <td class="content"><input type="number" id="">개</td>
                            </tr>
                            <tr>
                                <td class="prod_title">USB3.0 헤더</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">M.2 연결</td></tr>
                            <tr>
                                <td class="prod_title">PCIe</td>
                                <td class="content"><input type="radio" name="m2_con_1">O <input type="radio" name="m2_con_1">X </td>
                                <td class="prod_title">NVMe</td>
                                <td class="content"><input type="radio" name="m2_con_2">O <input type="radio" name="m2_con_2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">SATA</td>
                                <td class="content"><input type="radio" name="m2_con_3">O <input type="radio" name="m2_con_3">X </td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">M.2 폼팩터</td></tr>
                            <tr>
                                <td class="prod_title">2242</td>
                                <td class="content"><input type="radio" name="m2_form_1">O <input type="radio" name="m2_form_1">X </td>
                                <td class="prod_title">2260</td>
                                <td class="content"><input type="radio" name="m2_form_2">O <input type="radio" name="m2_form_2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">2280</td>
                                <td class="content"><input type="radio" name="m2_form_3">O <input type="radio" name="m2_form_3">X </td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">그래픽 출력</td></tr>
                            <tr>
                                <td class="prod_title">D-SUB</td>
                                <td class="content"><input type="radio" name="gr1">O <input type="radio" name="gr1">X </td>
                                <td class="prod_title">DVI</td>
                                <td class="content"><input type="radio" name="gr2">O <input type="radio" name="gr2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">HDMI</td>
                                <td class="content"><input type="radio" name="gr3">O <input type="radio" name="gr3">X </td>
                                <td class="prod_title">DP</td>
                                <td class="content"><input type="radio" name="gr4">O <input type="radio" name="gr4">X </td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">후면단자</td></tr>
                            <tr>
                                <td class="prod_title">USB 3.0</td>
                                <td class="content"><input type="radio" name="back1">O <input type="radio" name="back1">X </td>
                                <td class="prod_title">USB 2.0</td>
                                <td class="content"><input type="radio" name="back2">O <input type="radio" name="back2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">RJ-45</td>
                                <td class="content"><input type="radio" name="back3">O <input type="radio" name="back3">X </td>
                                <td class="prod_title">오디오잭</td>
                                <td class="content"><input type="radio" name="back4">O <input type="radio" name="back4">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">PS/2</td>
                                <td class="content"><input type="radio" name="back5">O <input type="radio" name="back5">X </td>
                                <td class="prod_title">시리얼포트</td>
                                <td class="content"><input type="radio" name="back6">O <input type="radio" name="back6">X </td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">네트워크</td></tr>
                            <tr>
                                <td class="prod_title">유선랜 칩셋</td>
                                <td class="content"><input type="text" id=""></td>
                                <td class="prod_title">유선랜 속도</td>
                                <td class="content"><input type="text" id=""></td>
                            </tr>
                            <tr>
                                <td class="prod_title">RJ-45</td>
                                <td class="content"><input type="number" id="">개</td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">오디오</td></tr>
                            <tr>
                                <td class="prod_title">오디오 칩셋</td>
                                <td class="content"><input type="text" id=""></td>
                                <td class="prod_title">아날로그 출력</td>
                                <td class="content"><input type="text" id=""></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">I/O 헤더</td></tr>
                            <tr>
                                <td class="prod_title">USB 3.0 헤더</td>
                                <td class="content"><input type="radio" name="header1">O <input type="radio" name="header1">X </td>
                                <td class="prod_title">	USB 2.0 헤더</td>
                                <td class="content"><input type="radio" name="header2">O <input type="radio" name="header2">X </td>
                            </tr>
                            <tr>
                                <td class="prod_title">TPM 헤더</td>
                                <td class="content"><input type="radio" name="header3">O <input type="radio" name="header3">X </td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">특징</td></tr>
                            <tr>
                                <td class="prod_title">UEFI</td>
                                <td class="content"><input type="radio" name="char">O <input type="radio" name="char">X </td>
                                <td class="prod_title"></td>
                                <td class="content"></td>
                            </tr>
                            <tr style="height: 20px;" class="title"><td colspan="4">인증</td></tr>
                            <tr>
                                <td class="prod_title">적합성평가인증</td>
                                <td colspan="3" class="content">상세설명 / 판매 사이트 문의 <button id="rra" onclick="window.open('https://www.rra.go.kr/ko/index.do')">인증번호 확인</button> </td>
                            </tr>
                            <tr>
                                <td class="prod_title">안전확인인증</td>
                                <td colspan="3" class="content">상세설명 / 판매 사이트 문의 <button id="safetykorea" onclick="window.open('https://www.safetykorea.kr/')">인증번호 확인</button> </td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>
            
            <!-- 상품 이미지-->
            <tr>
                <td class="tr_pr_left">상품이미지<span id="star">*</span></td>
                <td>
                    <!-- 상품이미지 등록하기 -->
                    
                    <div id='image_preview'>
                        <input type='file' id='btnAtt' multiple='multiple'/>
                        <label for="file">
                            <div class="file_upload"><span style="font-size: 13px;">파일 업로드하기</span></div>
                        </label>
                        <span style="color: lightslategrey; font-size: 12px;">* 최대 150x150 사이즈로 올려주세요.</span>
                        <br>
                        <span style="color: lightslategrey; font-size: 12px;"></spanstyle>* 최대 5개까지만 올려주세요.</span>
                        <br>
                        <div id='att_zone'></div>
                    </div>
                </td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>
            
            <!-- 상품명&상품가격 -->
            <tr>
                <td class="tr_pr_left">상품명<span id="star">*</span></td>
                <td><input type="text" id="tr_pr_name" required></td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>
            <tr>
                <td class="tr_pr_left">상품가격<span id="star">*</span></td>
                <td><input type="text" id="tr_pr_price" required></td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>

            

            <!-- 상품설명 -->
            <tr>
                <td class="tr_pr_left2">상품설명</td>
                <td><textarea name="tr_pr_detail" id="tr_pr_detail" cols="68" rows="20" placeholder="-상품의 하자정도 &#13;-연락처 남겨주세요&#13;-최대3000자"></textarea></td>
            </tr>
        </table>
        
        <div class="tr_pr_btn">
            <input type="submit" id="tr_pr_btn" value="등록하기"></div>
        </div> 
    </form>  
     <script src="/js/HSJ/upload_img.js"></script>
</body>
</html>