<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래_글쓰기 페이지</title>
    <link rel="stylesheet" href="../../CSS/LRH/style.css">
    <link rel="stylesheet" href="../../css/LRH/menubar.css">
    <link rel="stylesheet" href="../../CSS/HSJ/hsj_list.css">
    <link rel="stylesheet" href="../../CSS/HYJ/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    

</head>


<body>
    <div class="top">
        <div class="logo_wrap">
            <a href="/src/main/resources/templates/HTML/LRH/6.main_page.html" class="computa_logo"><img src="/src/main/resources/templates/IMG/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/recent.png">최근내역</a>
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/tea-bag.png">마이티백</a>
                <a href=""><img src="/src/main/resources/templates/IMG/LRH/login.png">로그인</a>
            </div>            
        </div>
    </div>

    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a href="../HSJ/my_main.html">마이페이지</a></li>
            <li><a href="#">PC견적</a></li>
            <li><a href="../LRH/1.product_list.html">부품</a></li>            
            <li><a href="../HYJ/qna_list.html">문의</a></li>
            <li><a href="../LRH/7.used_product_list.html" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>
    
    <form action="" method="get"><div class="tr_pr">
        <table border="0" class="tr_pr_table">
            
            <!-- 상품 이미지-->
            <tr>
                <td class="tr_pr_left">상품이미지<span id="star">*</span></td>
                <td>
                    <!-- 상품이미지 등록하기 -->
                    
                    <div id='image_preview'>
                        <input type='file' id='btnAtt' multiple='multiple'/>
                        <br>
                        <br>
                        <span style="color: lightslategrey;">* 최대 200x200(20mb) 사이즈로 올려주세요.</span>
                        <br>
                        <span style="color: lightslategrey;"></spanstyle>* 최대 5개까지만 올려주세요.</span>
                        <br>
                        <div id='att_zone'></div>
                    </div>
                </td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>
            
            <!-- 상품명&상품가격 -->
            <tr>
                <td class="tr_pr_left">상품명<span id="star">*</span></td>
                <td><input type="text" id="tr_pr_name" required></td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>
            <tr>
                <td class="tr_pr_left">상품가격<span id="star">*</span></td>
                <td><input type="text" id="tr_pr_price" required></td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>

            <!--상품종류(select)-->
            <tr>
                <td class="tr_pr_left">상품종류<span id="star">*</span></td>
                <td><select name="tr_pr_category" id="tr_pr_category" required>
                    <option value="">종류를 선택해주세요!</option>
                    <option value="cpu">CPU</option>
                    <option value="gpu">그래픽카드</option>
                    <option value="motherboard">메인보드</option>
                    <option value="ssd">SSD</option>
                    <option value="hdd">HDD</option>
                    <option value="ram">RAM</option>
                    <option value="case">케이스</option>
                    <option value="cooler">쿨러</option>
                    <option value="power">파워</option>
                </select></td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>

            <!-- 상세스펙 -->
            <tr>
                <td class="tr_pr_left">상세 스펙</td>
                <td>
                    <div class="tr_pr_spec"></div>
                </td>
            </tr>
            <tr><td colspan="2"><hr class="hsj_hr"></td></tr>

            <!-- 상품설명 -->
            <tr>
                <td class="tr_pr_left2">상품설명</td>
                <td><textarea name="tr_pr_detail" id="tr_pr_detail" cols="68" rows="20" placeholder="-상품의 하자정도 &#13;-연락처 남겨주세요&#13;-최대3000자"></textarea></td>
            </tr>
        </table>

        <!-- 등록버튼 -->
        <div class="tr_pr_btn">
            <input type="submit" id="tr_pr_btn" value="등록하기"></div>
        </div>
        
    </form>  
     <script src="../../JS/HSJ/upload_img.js"></script>

     <script>
        $('#tr_pr_category').change(function(){
            var selVar = $(this).val();
            $('.tr_pr_spec').empty();

            if(selVar =='cpu'){
                $('.tr_pr_spec').load('../HYJ/Table/cpu_table.html #prod_table');
            }else if(selVar =='gpu'){
                $('.tr_pr_spec').load('../HYJ/Table/gpu_table.html #prod_table');
            }else if(selVar == 'motherboard'){
                $('.tr_pr_spec').load('../HYJ/Table/motherboard_table.html #prod_table');
            }else if(selVar == 'ssd'){
                $('.tr_pr_spec').load('../HYJ/Table/ssd_table.html #prod_table');                
            }else if(selVar == 'hdd'){
                $('.tr_pr_spec').load('../HYJ/Table/hdd_table.html #prod_table');                
            }else if(selVar == 'ram'){
                $('.tr_pr_spec').load('../HYJ/Table/ram_table.html #prod_table');                
            }else if(selVar == 'case'){
                $('.tr_pr_spec').load('../HYJ/Table/case_table.html #prod_table');                
            }else if(selVar == 'cooler'){
                $('.tr_pr_spec').load('../HYJ/Table/cooler_table.html #prod_table');                
            }else if(selVar == 'power'){
                $('.tr_pr_spec').load('../HYJ/Table/#_table.html #prod_table');                
            }
        })
    </script>

</body>
</html>