@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap');

#findpass{    
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* outline: dashed 1px black; */
}

#showpass{
    font-size: small;
    width: 400px;
    height: 400px;
}

.pw_btn{
    width: 400px;
    margin-top: 30px;
    text-align: center;
}

.passform{
    font-family: 'Hahmlet', serif;
    font-size: 14px;
    margin: 5%;
}

.showpw{
    font-size: 14px;
    width: 300px;
    height: 100px;
}

.pw_table{
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.pw_title{
    
    width: 220px;
}

.pw_con{
    width: 700px;
}

.pw_rrd{
    margin-left: 10px;
    margin-right:10px;
    width: 130px;
    height: 20px;
}

.pw_userid{
    margin-left: 10px;
    width: 170px;
    height: 20px;
}

.pw_username{
    margin-left: 10px;
    width: 170px;
    height: 20px;
}

check:active{}
button:hangover{color:darkgray}