@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap');

.computa_logo{
    width: 80px;
    height: 100px;
}


#wrap{
   font-family: 'Hahmlet', serif;
   /* outline: 1px solid; */
   width: 1022px;
   text-align: right;
   margin-left: auto;
   margin-right: auto;
}

.notice{
   background-color: aliceblue;
   font-size: 15px;
   font-weight: bold;
   color:brown;
}

.dataTableBody{
   border-collapse: collapse;
   width: 800px;
   height: 600px;
   margin-top: 20px; 
   margin-left: auto;
   margin-right: auto;
  
   /* outline: dashed 1px black; */
}


#qna_pagination{
   
   margin-top: 25px;
   margin-bottom: 10px;
   text-align: center;
   font-size: medium;

   width: 250px;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-around;
   
   
}

.a_div{
   outline: 1px solid rgb(8, 121, 46);
   width: 20px;
   height: 20px;
   padding: 0.2rem;
}

.a_css{
   text-decoration: none;
   color: black;
   
}
