.myshop{
    display: flex;
    flex-direction: column;
    background-color: #187771;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    height: 70px;
    justify-content: space-around;
    
}

.used_container {
    display: flex;
    flex: auto-flow 50px / repeat(5,21%);
    width :1000px;
   
    
}
 
.used_container > div {
    width: 300px;
    height: 430px;
    margin: 5px 5px;
}

.used_items {
    width: 350px;
    height: 450px;
    border: solid black 3px;
    border-radius: 5px;
}

.used_item{
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px 20px 20px 20px;
}

.used_image{
    width:50%;
}

.hovering:hover ~ .menubars { display: block; } 

.menubars {
    display: none;
    float: right;
}

.hovering {
    float: right;
}

.used_name{
    font-size: 120%;
    font: bold;
}
