ul{list-style:none;}

a{text-decoration:none; color:#333;}

.used_menu:after{display:block; content:''; clear:both;}

.used_menu > li{position:relative; float:right; margin-right:5px;}

.used_menu > li:hover .used_menubar {display:block;}


/*hover시 나오는 박스*/
.used_menu .used_menubar{
    display:none;
    position:absolute;
    text-align:center;
}


.used_menu .used_menubar a{
    display:block;
    padding:5px;
    background:#666;
    color:#fff;
    width:150px;
    height: 22px;
}

.whole{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.myshop_list{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 8px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.myshop_tbl{
    width: 120px;
    margin: 8px;
    border-collapse: collapse;
    border: green 1px solid;

    font-size: 13px;
}

.one_set{
    padding:8px
}

