<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prod_table</title>
    <link rel="stylesheet" href="/css/hyj_css/cpu_table.css">
</head>
<body>
    <h1 style="margin-left: 50px;">cpu table</h1>

    <table border="1" id="prod_table">
        <tr>
            <td class="prod_title">제조회사</td>
            <td id="comany" class="content">AMD</td>
            <td class="prod_title">등록년월</td>
            <td id="date" class="content">2021년 08월</td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4"></td></tr>
        <tr>
            <td class="prod_title">AMD CPU 종류</td>
            <td id="kind" class="content">라이젠5-4세대</td>
            <td class="prod_title">소켓 구분</td>
            <td id="socket" class="content">AMD(소켓AM4)</td>
        </tr>
        <tr>
            <td class="prod_title">제조 공정</td>
            <td id="" class="content">7nm</td>
            <td class="prod_title">PCIe버전</td>
            <td id="ver" class="content">PCIe3.0</td>
        </tr>
        <tr>
            <td class="prod_title">세대 구분</td>
            <td class="content">4세대(Zen3)</td>
            <td class="prod_title">출시일</td>
            <td class="content">2021년 3분기</td>
        </tr>
        <tr>
            <td class="prod_title">시네벤치R23(싱글)</td>
            <td class="content">1446</td>
            <td class="prod_title">시네벤치R23(멀티)</td>
            <td class="content">10489</td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">사양</td></tr>
        <tr>
            <td class="prod_title">코어 수</td>
            <td class="content">6코어</td>
            <td class="prod_title">쓰레드 수</td>
            <td class="content">12쓰레드</td>
        </tr>
        <tr>
            <td class="prod_title">기본 클럭</td>
            <td class="content">3.9GHz</td>
            <td class="prod_title">최대 클럭</td>
            <td class="content">4.4GHz</td>
        </tr>
        <tr>
            <td class="prod_title">L2 캐시</td>
            <td class="content">3MB</td>
            <td class="prod_title">L3 캐시</td>
            <td class="content">16MB</td>
        </tr>
        <tr>
            <td class="prod_title">연산 체계</td>
            <td class="content">64비트</td>
            <td class="prod_title">TDP</td>
            <td class="content">65W</td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">메모리 사양</td></tr>
        <tr>
            <td class="prod_title">메모리 규격</td>
            <td class="content">DDR4</td>
            <td class="prod_title">메모리 클럭</td>
            <td class="content">3200MHz</td>
        </tr>
        <tr>
            <td class="prod_title">메모리 채널</td>
            <td class="content">2</td>
            <td class="prod_title"></td>
            <td class="content"></td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">그래픽 사양</td></tr>
        <tr>
            <td class="prod_title">내장그래픽</td>
            <td class="content">내장그래픽: 탑재</td>
            <td class="prod_title">GPU 모델명</td>
            <td class="content">AMD 라데온 그래픽 7</td>
        </tr>
        <tr>
            <td class="prod_title">GPU 코어 속도</td>
            <td class="content">1,900MHz</td>
            <td class="prod_title"></td>
            <td class="content"></td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">기술 지원</td></tr>
        <tr>
            <td class="prod_title">SenseMI</td>
            <td class="content">O</td>
            <td class="prod_title">Ryzen Master</td>
            <td class="content">O</td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">구성</td></tr>
        <tr>
            <td class="prod_title">패키지 형태</td>
            <td class="content">멀티팩(정품)</td>
            <td class="prod_title">쿨러</td>
            <td class="content">Wrauth Stealth 포함</td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4">인증</td></tr>
        <tr>
            <td class="prod_title">적합성평가인증</td>
            <td colspan="3" class="content">상세설명 / 판매 사이트 문의 <button id="rra" onclick="window.open('https://www.rra.go.kr/ko/index.do')">인증번호 확인</button> </td>
        </tr>
        <tr>
            <td class="prod_title">안전확인인증</td>
            <td colspan="3" class="content">상세설명 / 판매 사이트 문의 <button id="safetykorea" onclick="window.open('https://www.safetykorea.kr/')">인증번호 확인</button> </td>
        </tr>
        <tr style="height: 20px;" class="title"><td colspan="4"></td></tr>
        <tr><td colspan="4" class="prod_title" style="fon;">구매 전 꼭 읽어주세요!</td></tr>
        <tr>
            <td class="prod_title">정품 CPU</td>
            <td colspan="3" class="content">국내 공인 대리점을 통해 수입, 유통, 판매되는 CPU를 말합니다. 정품 CPU의 모든 A/S는 공인 대리점에서 보통 3년간 무상으로 받을 수 있습니다.
                자세한 사항은 각 대리점에 문의하시기 바랍니다. <br>
            -> 인텔 공인 대리점 : 인텍앤컴퍼니, 코잇, 피씨디렉트 / AMD 공인 대리점 : 제이씨현시스템, 바이코, 대원 CTS
            </td>
        </tr>
        <tr>
            <td class="prod_title">병행 수입</td>
            <td colspan="3" class="content"> 국내 독점 판매권을 가지고 있는 업체 이외에 다른 유통 경로로 같은 상표의 정품을 수입하여 판매하는 것을 말합니다.
                A/S 및 보상 규정을 판매처에 꼭 문의하시기 바랍니다.
            </td>
        </tr>
        <tr>
            <td class="prod_title">벌크, 벌크+쿨러란?</td>
            <td colspan="3" class="content">CPU와 쿨러를 개별적으로 포장한 상품입니다. 구매 전 판매처에 보상 규정을 꼭 문의하시기 바랍니다.
            </td>
        </tr>
    </table>
</body>
</html>