<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디찾기페이지</title>
    <script src="js/jquery3.7.1.js"></script>
    <script src="js/jquery.innerfade.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/LRH/js17_menu.js"></script>

    <link rel="stylesheet" th:href="@{/css/HYJ/hyj_list.css}" />
    <link rel="stylesheet" th:href="@{/css/HSJ/hsj_list.css}" />
    <link rel="stylesheet" th:href="@{/css/LRH/list.css}" />
    <!-- <link rel="stylesheet" href="../../CSS/LRH/style.css"> -->

    <script>
      function showPopup_showPw() {
        window.open(
          "show_pw.html",
          "a",
          "width=400, height=300, left=750, top=100"
        );
      }

      var popup = popupOpen("show_pw.html", "비밀번호", 0, 0, 500, 500);
      var popup = popupOpen("http://www.naver.com", "네이버");
      var popup = popupOpen("http://www.naver.com");
    </script>
  </head>

  <body>
    <!-- top 로고 & 검색 & 메뉴navbar> -->
    <div class="top">
      <div class="logo_wrap">
        <!--  <a th:href="@{6.main_page.html}" class="computa_logo"><img src="/images/LRH/computa icon.png" alt="logo" width="100"></a> -->
      </div>

      <div class="search">
        <input type="text" placeholder="검색어 입력" />
      </div>

      <div class="myinfo">
        <div class="myinfo_icon">
          <a th:href="@{/}"><img src="/images/LRH/recent.png" />최근내역</a>
          <a th:href="@{/}"><img src="/images/LRH/tea-bag.png" />마이티백</a>
          <a th:href="@{/}"><img src="/images/LRH/login.png" />로그인</a>
        </div>
      </div>
    </div>

    <div class="navbar" style="z-index: -1">
      <ul class="navbar_menu">
        <li><a th:href="@{#}">PC견적</a></li>
        <li><a th:href="@{/}">부품</a></li>
        <li><a th:href="@{/}">마이페이지</a></li>
        <li><a th:href="@{/}">문의</a></li>
        <li><a th:href="@{/}" style="color: red">우려먹기</a></li>
      </ul>
    </div>

    <form method="post" th:action="@{/findid/submit}" th:object="${name}">
      <div id="findpass">
        <h2 style="font-size: 22px; margin-bottom: 7px">아이디 찾기</h2>
        <form action="" method="get">
          <fieldset>
            <div class="passform">
              <table class="id_table">
                <tr>
                  <td class="id_title">
                    <label for="username">이름 </label>
                  </td>
                  <td class="id_con">
                    <input
                      type="text"
                      placeholder="User"
                      id="id_username"
                      class="input_id"
                      maxlength="20"
                      name="name"
                      required
                    />
                    <br />
                  </td>
                </tr>

                <tr>
                  <td class="id_title">
                    <label for="rrn">전화번호 </label>
                  </td>
                  <td class="id_con">
                    <input
                      type="tel"
                      maxlength="11"
                      placeholder="-없이 번호만"
                      id="id_rrd1"
                      class="input_id"
                      name="phone"
                      required
                    />
                  </td>
                </tr>

                <tr>
                  <td class="id_title">
                    <label for="rrn">주민번호 </label>
                  </td>
                  <td class="id_con">
                    <input
                      type="text"
                      maxlength="6"
                      placeholder="990101"
                      id="pw_rrd1"
                      class="input_id"
                      name="firstSsid"
                      required
                    />
                    -
                    <input
                      type="password"
                      maxlength="7"
                      id="id_rrd2"
                      class="input_id"
                      name="secondSsid"
                      required
                    />
                  </td>
                </tr>
              </table>

              <div class="id_btn">
                <input type="submit" class="submit" value="확인" id="id_btn" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </form>
  </body>
</html>
