<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의게시판_상세페이지</title>
    
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/HSJ/popup.js"></script>
    <script src="/js/LRH/js17_menu.js"></script>  
    <script src="/js/LRH/hvoer.js"></script>
       
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/LRH/list.css}">
    <link rel="stylesheet" th:href="@{/css/HSJ/hsj_list.css}">
    <link rel="stylesheet" th:href="@{/css/LRH/hsj_list.css}">   
    <!-- <link th:href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet"> -->
    

</head>
<body>
    <div class="top">
        <div class="logo_wrap">
            <a th:href="@{/index}" class="computa_logo"><img src="/images/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">                
                <ul class="recent" id="gnb">
                    <li class="m">
                        <a th:href="@{/#}">
                            <img src="/images/LRH/recent.png" >최근내역<!--최근내역-->
                        </a> 
                        <ul>
                            <div class="recent_area" >
                                <div class="recent_title">
                                    <p><strong>최근내역</strong><p>
                                </div>
                                <div class="recent_prod_list" >
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>          
                                    <div class="recent_prod">                                            
                                        <a th:href="@{/5.used_list_detail.html}" class="used_img">
                                            <img src="/images/LRH/21314.jpg" alt="중고1">
                                        </a>
    
                                        <div class="recent_like_icon">
                                            <div class="container">
                                                <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                                            </div>
                                        </div> 
    
                                        <p class="recent_prod_name">
                                            <span class="txt_tit_brand">No.13 Cut-Out</span><br>                
                                            <span class="txt_origin_price">76,000원</span>
                                        </p>  
                                    </div>                                                              
                                </div>
                                
                            </div>
                        </ul>
                    </li>
                </ul>

                <a th:href="@{/}"><img src="/images/LRH/tea-bag.png">마이티백</a>
                <a th:href="@{/login}"><img src="/images/LRH/login.png">로그인</a>
            </div>            
        </div>
    </div>

    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a th:href="@{/myMain}">마이페이지</a></li>
            <li><a th:href="@{/}">PC견적</a></li>           
            <li><a th:href="@{/product/list}">부품</a></li>            
            <li><a th:href="@{/getQnaList}">문의</a></li>
            <li><a th:href="@{/}" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>

    
    <!--글영역-->
    <form th:action="@{/updateQna}" method="post">
    <div class="qna_detail_container">
        <div class="qna_detail">
                <input name="seq" type="hidden" th:value="${qna.seq}">
            <table border="1" id="qna_detail">
                <tr>
                    <td id="qna_detail_title"><input type="text" name="title" th:value="${qna.title}"  style="border: none; font-size: 15px;" ></td>
                </tr>
                <tr>
                    <td class="qna_detail_nick">
                        <span style="font-weight: bold;">작성자</span>
                        <span style="color: gray;" id="qna_detail_nick">닉네임</span>
                        <input type="text" name="writer" th:value="${qna.writer}" style="border: none;" disabled>
                        <span style="font-weight: bolder;">| 등록일 </span>
                        <input type="date" name="createdate" th:value="${#dates.format(qna.createDate, 'yyyy-MM-dd')}" readonly style="border: none;">
                        <span style="font-weight: bolder;">| 조회수 </span>
                        <input type="text" name="cnt" th:value="${qna.cnt}" style="border: none;" disabled>

                </tr>
                <tr >
                    <td id="qna_detail_write" style="width: 1000px;">
                        <textarea th:text="${qna.content}"  name="content"  style="width: 400px; font-size: 17px; height: 200px; border: none; resize: none;"  cols="30" rows="15"></textarea>
                    </td>
                </tr>
            </table>
        </div>

        <!--답글영역-->
        <!-- <form th:action="">
        <div class="qna_replyarea">            
            <table  class="qna_reply_table">
                <th id="qna_reply_1"><span>관리자</span></th>
                <tr>  
                    <td class="reply_write">
                        <div class="qna_reply_container">
                            <div id="qna_reply_2"><textarea name="qna_reply_write" id="qna_reply_write" cols="103" rows="6"></textarea></div>
                            <div id="qna_reply_3"><button type="submit" id="qna_rewrite_btn">답변하기</button></div>
                        </div>
                    </td>                  
                </tr>
            </table>
        </form>
        
            <table  class="qna_replyview_table">
                <tr>
                    <div class="reply_view_title">
                        <td class="qna_admin">
                            <div id="qna_repbt_wraplyview">관리자</div>
                            <div id="qna_review_update">2024.01.12  15:43</div>
                            <div class="reply_view_btn">
                                <div id=""><button type="button" id="qna_review_btn_mod">수정</button></div>
                                <div id=""><button id="qna_review_btn_del" onclick="showDelPop()">삭제</button></div>
                            </div>
                        </td>                    
                    </div>
                </tr>
                <tr>
                    <td colspan="4"><div class="qna_review_view">문의주셔서 감사합니다.<br> 관리자 답변입니다. <br>흐겸소입니다. <br>문의주셔서 감사합니다. </div></td>
                </tr>
            </table>
        </div>           -->

        <!--버튼영역-->    
        <div class="bt_wrap">               
                <input type="submit" id="btn_modify" class="btn_css" name="btn_modify" value="수정"/>
                <a th:href="@{/deleteQna(seq=${qna.seq})}" class="btn_css">삭제</a>
                <!-- th:classappend="@{session['user'].role != 'ADMIN' ? 'disabled':''}"  관리자일 시 삭제하는 버튼 보류--> 
                <a th:href="@{/getQnaList}"  id="btn_back" class="btn_css" name="btn_back">목록</a>     
        </div> 
    </form> 
    <div id="comments">
        <div th:each="comment : ${orderedComments}" th:style="'margin-left:' + ${comment.level * 40} + 'px'">
        <p><strong>Nickname:</strong> <span th:text="${comment.user.nickname}"></span></p>
        <p><strong>Created Date:</strong> <span th:text="${#dates.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p th:if="${comment.updatedDate != null}"><strong>Updated Date:</strong> <span th:text="${#dates.format(comment.updatedDate, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p><strong>Content:</strong> <span th:text="${comment.content}"></span></p>
            <button type="button" class="btn btn-primary reply-button" th:data-target="'#replyForm'+${comment.id}">Reply</button>
            <div class="reply-form" th:id="'replyForm'+${comment.id}" style="display: none;">
                <form action="#" th:action="@{/getQnaBoard/{seq}/postReply(seq=${qna.seq})}" th:object="${reply}" method="post">
                    <div class="form-group">
                        <label for="content">Reply:</label>
                        <textarea id="content" class="form-control" th:field="*{content}" required></textarea>
                    </div>
                    <input type="hidden" th:value="${comment.id}" name="parentId" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
            <div th:if="${comment.replies.size() > 0}">
                    <li th:each="reply : ${comment.replies}" th:style="'margin-left:' + ${reply.level * 40} + 'px'">
                        <p><strong>Nickname:</strong> <span th:text="${comment.user.nickname}"></span></p>
                        <p><strong>Created Date:</strong> <span th:text="${#dates.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></span></p>
                        <p th:if="${comment.updatedDate != null}"><strong>Updated Date:</strong> <span th:text="${#dates.format(comment.updatedDate, 'yyyy-MM-dd HH:mm')}"></span></p>
                        <p><strong>Content:</strong> <span th:text="${comment.content}"></span></p>                
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>


</body>
</html>