<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<!-- 원본 HTML/LRH/6.main_page.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/LRH/list.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/764963a2f9.js" crossorigin="anonymous"></script>
    <script src="/js/LRH/js17_menu.js"></script>  
    <script>
        function like(element) {
            element.classList.toggle('fa-regular');
            element.classList.toggle('fa-solid');
        }                             
    </script>    
    <title>Document</title>

</head>
<body>
    <div class="top">
        <div class="logo_wrap">
            <a th:href="@{/index}" class="computa_logo"><img src="/images/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">
                <a href=""><img src="/images/LRH/recent.png">최근내역</a>
                <a href=""><img src="/images/LRH/tea-bag.png">마이티백</a>
                <a th:href="@{/login}"><img src="/images/LRH/login.png">로그인</a>
            </div>            
        </div>
        
    </div>

    <div class="navbar">      
        <ul class="navbar_menu">
            <li><a th:href="@{/myMain}">마이페이지</a></li>
            <li><a href="#">PC견적</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/1.product_list.html">부품</a></li>            
            <li><a th:href="@{/product}">부품</a></li>            
            <li><a href="@{/qna_list}">문의</a></li>
            <li><a href="/src/main/resources/templates/HTML/LRH/7.used_product_list.html" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>

    <div class="slide_img">
        <div class="slide slide_wrap">
          <div class="slide_item"><img src="/images/LRH/1_page.jpg"></div>
          <div class="slide_item"><img src="/images/LRH/2_page.jpg"></div>
          <div class="slide_item"><img src="/images/LRH/3_page.jpg"></div>
          <div class="slide_prev_button slide_button"></div>
          <div class="slide_next_button slide_button"></div>
          <ul class="slide_pagination"></ul>
        </div>      
    </div>
        <script src="/src/main/resources/templates/JS/LRH/slide.js"></script>
    
    <div class="area1">
        <div class="icon">
            <div class="sub_icon">
                <img src="/images/LRH/alarm.png">
            </div>
            <div class="sub_title">오늘의 <span style="color: #1fa098;">특가</span></div>
        </div>
        <div class="hotdeal">
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
        </div>
    </div>
    <div class="area2">
        <div class="icon">
            <div class="sub_icon">
                <img src="/images/LRH/best-tea-bag.png" alt="">
            </div>
            <div class="sub_title">이번주 <span style="color: #1fa098;">인기제품</span></div>
        </div>
        <div class="hotdeal">
                        <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p>                       
            </div>  
            <div class="hotdeal_product">          
                <a href="/src/main/resources/templates/HTML/LRH/5.used_list_detail.html" class="used_img">
                    <img src="/images/LRH/21314.jpg" alt="중고1" style="width: 160px;">
                </a>         
                <div class="like_icon">
                    <div class="container">
                        <i class="like fa-regular fa-heart fa-2x" onclick="like(this)"></i>                        
                    </div>
                </div> 
                <p class="product_name">
                    <span class="txt_tit_brand">No.13 Cut-Out Hoodie Ivory</span><br>                
                    <span class="txt_origin_price">76,000원</span>
                </p> 
        </div>
    </div>
        <div class="area3">
            <div class="left">
                <div class="board">
                    <div class="used_title">
                        <span style="color: #1fa098;">우려먹기</span> 게시글
                    </div>                    
                    <div class="board_post">
                        <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaa</a><br>
                        <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaa</a><br>
                        <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaa</a><br>                       
                    </div>                      
                </div>

                <div class="company_info">
                    <p>공지: 12/18(월) 콤부타 개인정보처리방침.....</p>
                    <p>주소 (우) 02222 서울시특별시 XX구 XX동로 XXX-X,XXX </p>              
                </div>  
            </div> 
            
            <div class="right">     
                <div class="QA">                    
                    <div class="QA_title">
                        <strong>콤푸타 고객센터</strong>
                    </div>    
                    <div class="QA_icon_group">
                        <div class="QA_icon">
                            <a href="">
                                <img src="/images/LRH/support.png" alt="">     
                                <strong>고객센터 홈</strong>                       
                            </a>
                        </div>
                        <div class="QA_icon">
                            <a href="">
                                <img src="/images/LRH/notes.png" alt="">
                                <strong>신고/제안</strong>
                            </a>                    
                        </div>
                        <div class="QA_icon">
                            <a href="">
                                <img src="/images/LRH/service help.png" alt="">
                                <strong>서비스 도움말</strong>
                            </a>                    
                        </div>
                        
                    </div>

                    <div class="QA_bt_wrap">
                        <a href="a" class="on">이메일 문의</a>
                        <a href="a" >A/S문의안내</a>
                    </div>
                    
                </div> 
            </div>       
        </div>      
    </div>
   
  


</body>
</html>


