<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login_page/login_design.css">
    <title>Login</title>
</head>
<body>
    <div class="top">
        <h2>Login</h2>
    </div>

    <div class="middle">
        <form method="post" action="서버의url" id="login-form">
            <label for="ID">ID:</label>
            <input type="text" name="userName" placeholder="ID" required>

            <label for="password">Password:</label>
            <input type="password" name="userPassword" placeholder="Password" required>

            <label for="remember-ID">
                <input type="checkbox" id="remember-ID"> 아이디 저장
            </label> 

            <input type="submit" value="Login">
        </form>
    </div>
    <div class="last">
        <ul>
            <li><a href="../find_user_id_page/find_user.html">아이디 찾기</a></li>
            <li><a href="../find_password_page/find_pass.html">비밀번호 찾기</a></li>
            <li><a href="../membership_page/membership3.html">회원가입</a></li>
        </ul>
    </div>
</body>
</html>