<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
</head>
<body>
<h1 th:text="${product.fullname}"></h1>

<div th:each="image : ${product.productImages}">
    <img th:src="${image.url}" alt="Product Image"/>
</div>

<div th:if="${productType == 'CPU'}">
    <p>Socket Type: <span th:text="${product.socket}"></span></p>
    <p>Cores: <span th:text="${product.cores}"></span></p>
    <p>Threads: <span th:text="${product.threads}"></span></p>
    <!-- More CPU attributes -->
</div>

<div th:if="${productType == 'GPU'}">
    <p>VRAM: <span th:text="${product.vram}"></span></p>
    <!-- More GPU attributes -->
</div>

<!-- Add more divs for other product types -->

<h2>Comments</h2>
<div th:each="comment : ${comments}" th:if="${comment.parent == null}">
    <p><strong>Author:</strong> <span th:text="${comment.user.nickname}"></span></p>
    <p th:text="${comment.content}"></p>
    <p><em th:text="${#dates.format(comment.createdDate, 'dd-MM-yyyy HH:mm')}"></em></p>
    <!-- Add a reply button here -->
    <button class="reply-button">Reply</button>

    <!-- Add a reply form here -->
    <div class="reply-form" style="display: none;">
        <h3>Reply</h3>
        <form th:action="@{/saveProductComment}" method="post">
            <input type="hidden" th:value="${product.id}" name="productId" />
            <input type="hidden" th:value="${comment.id}" name="parentCommentId" />
            <textarea name="content" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div th:fragment="commentTree(comment)"th:unless="${#lists.isEmpty(comment.replies)}" >
        <div th:each="child : ${comment.replies}" th:inline="text">
            <p th:text="${child.user.nickname}"></p>
            <p th:text="${child.content}"></p>
            <p><em th:text="${#dates.format(child.createdDate, 'dd-MM-yyyy HH:mm')}"></em></p>
            <div th:replace="~{this::commentTree(${child})}"></div>
        </div>
        <!-- Add a reply button here -->
        <button class="reply-button">Reply</button>

        <!-- Add a reply form here -->
        <div class="reply-form" style="display: none;">
            <h3>Reply</h3>
            <form th:action="@{/saveProductComment}" method="post">
                <input type="hidden" th:value="${product.id}" name="productId" />
                <input type="hidden" th:value="${comment.id}" name="parentCommentId" />
                <textarea name="content" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</div>


<script>
    document.querySelectorAll('.reply-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var form = this.nextElementSibling;
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>

</body>
</html>