<!-- <!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/css/HSH/myshop.css}">
  <link rel="stylesheet" th:href="@{/css/HSH/used_menu.css}">
  <link rel="stylesheet" th:href="@{/css/LRH/style.css}">
  <link rel="stylesheet" th:href="@{/css/LRH/menubar.css}">
</head>
<body>

    <div class="top">
        <div class="logo_wrap">
            <a th:href="@{/index}" class="computa_logo"><img src="/images/LRH/computa icon.png" alt="logo" width="100"></a>
        </div>
        
        <div class="search">
            <input type="text" placeholder="검색어 입력">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" >
        </div>
        <div class="myinfo">
            <div class="myinfo_icon">
                <a th:href="@{/}"><img src="/images/LRH/recent.png">최근내역</a>
                <a th:href="@{/}"><img src="/images/LRH/tea-bag.png">마이티백</a>
                <a th:href="@{/}"><img src="/images/LRH/login.png">로그인</a>
            </div>            
        </div>
    </div>

    <div class="navbar" style="z-index: -1;">      
        <ul class="navbar_menu">
            <li><a th:href="@{/myMain}">마이페이지</a></li>
            <li><a th:href="@{/#}">PC견적</a></li>
            <li><a th:href="@{/1.product_list.html}">부품</a></li>            
            <li><a th:href="@{/qna_list.html}">문의</a></li>
            <li><a th:href="@{/7.used_product_list.html}" style="color: red;">우려먹기</a></li>                    
        </ul>        
    </div>
    <nav class="navbar">        
        <ul class="navbar_menu">
            <li><a th:href="@{/#}">CPU</a></li>
            <li><a th:href="@{/#}">GPU</a></li>
            <li><a th:href="@{/#}">마더보드</a></li>
            <li><a th:href="@{/#}">HDD</a></li>
            <li><a th:href="@{/#}">SDD</a></li>
            <li><a th:href="@{/#}">램카드</a></li>
            <li><a th:href="@{/#}">파워</a></li>
            <li><a th:href="@{/#}">케이스</a></li>
            <li><a th:href="@{/#}">쿨러</a></li>
        </ul>        
    </nav>


    <div class="whole">
        <div class="myshop">
            <h1>내 찻잔</h1>
        </div>

        내찻잔 상품 리스트 컨테이너
        <div class="myshop_list">
            <div class="one_set">
                <table class="myshop_tbl">
                    <tr>
                        <td colspan="2">
                            <a th:href="@{/http://www.naver.com}">
                                <img src="/images/HSH/cpu.jpg" alt="중고" class="used_item" id="img" style="width:120px;height:120px;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>상품명: <span id="myshop_name">intel5420cpu</span></td>
                        <td rowspan="2">
                            <div class="used_opt">
                                <ul class="used_menu">
                                    <li>
                                        <a th:href="@{/#}"><img src="/images/HSH/dot.png" alt="상품수정"></a>
                                        <ul class="used_menubar">
                                            <li><a th:href="@{/#}">수정하기</a></li>
                                            <li><a th:href="@{/#}">삭제하기</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td>가격: <span id="myshop_price">30,000원</span></td>
                    </tr>
                </table>
            </div>
                
                
        </div>
    </div>
</body>

             -->