@import url('trade_write.css');
@import url('my_main.css');
@import url('qna_detail.css');
@import url('product_detail.css');

.hsj_hr{border-top: 1px solid #1fa098;}
.hsj_hr_1{border: 1px solid #1fa098;}
#star{color:red;}