/* 전체 */
.qna_detail_container{
    
    padding:1.5rem;
    width: 900px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* 글 영역 */
.qna_detail{    
    
    width: 100%;
    height: auto;
}

/* 글 박스 영역 */
#qna_detail{    
    margin-top: 0.5rem;    
    height: 500px;
    border : 2.5px solid #1fa097e3;
    border-collapse : collapse;
}

/* 글 제목 */
#qna_detail_title{    
    padding-left: 1rem;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
}

/* 글쓴이+등록일 */
.qna_detail_nick{
    padding: 0.5rem;
    padding-left: 1rem;
    height:5px;
    font-size: 15px;
}

/* 글 내용 */
#qna_detail_write{    
    padding : 1.5rem 1.5rem 2rem 1.5rem;    
    vertical-align : top;
    font-size:20px;        
 }
/*================================*/

/* 버튼영역 */
.qna_modndel{    
    display : inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #187771;
    border-radius: 2px;
    font-size: 1.4rem;
}

/* 수정 & 삭제 & 목록 버튼 */
.btn_css{
    display : inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #187771;
    border-radius: 2px;
    font-size: 1.4rem;
}

/* 수정버튼 */
#btn_modify{    
    cursor: pointer;
}

/* 삭제버튼 */
#btn_delete{
    cursor: pointer;
}
/*================================*/

/* 관리자 답변쓰기 영역*/
.qna_replyarea{    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
    
}

.qna_reply_container{    
    position: relative;        
}
.qna_reply_container button{    
    position: absolute;
    right: 0px;
    bottom:5px;
    width: 80px;
    background-color: transparent;    
}

/* 관리자 답변 테이블 */
.qna_reply_table{    
    padding:0.5rem;
    width:100%;
}

/* 관리자 이름 칸 */
#qna_reply_1{    
    width:100%;
    padding: 10px;
    font-weight: bold; 
    text-align: left;
    font-size: 12px;
}

.reply_write{
    display: inline-flex;
}
#qna_reply_3{   
}

/* 관리자 쓰기(textarea) */
#qna_reply_write{
    resize:none;
    border-radius: 5px;
    border-color: #1fa097e3;   
}

/* 관리자 보내기버튼 */
#qna_rewrite_btn{
    padding:1rem;
    cursor: pointer;     
    background-color: rgba(31, 160, 151, 0.8);
    font-weight: bold;
    border-radius: 10px;
}
/*================================*/

/* 관리자 답변보기 영역 */
.qna_replyview_table{    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 890px;
    top: 20px;
    outline: 1px solid #1fa097e3;
    border-radius: 5px;
    padding-left: 15px;
}

.reply_view_btn{
    display: flex;  
    align-items: center; 
}

.reply_view_btn  button{
    align-items: center;
}

/* 관리자 이름 칸 */

.qna_admin{    
    display: flex;
    gap: 10px;
    font-size: 12px;
    width: 800px;
    height: 30px;
    align-items: center;
    border-bottom: 2px solid #1fa097e3;
    
}
/* 관리자 답변보기 */
.qna_review_view{
    padding: 0.5rem;
    height:auto;
    background-color: white;
    line-height: 1.5rem;
}

/* 관리자 답변 수정&삭제버튼*/
#qna_review_btn_mod{
    border-radius: 10%;
    background-color: #1fa097e3;
    color: #fff;
    cursor: pointer;
    height: 30px;
}

#qna_review_btn_del{
    border-radius: 10%;
    background-color: #1fa097e3;
    color: #fff;
    cursor: pointer;
    height: 30px;
    
}
/*================================*/

/* 돌아가기 영역*/
.qna_back{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width:400px;
    height:100px;
}
/* 돌아가기 버튼 */
#btn_back{
    cursor: pointer;    
}