body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#comments-container {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.comment p {
    margin: 0; /* 댓글 내용의 상단/하단 여백 제거 */
}

.reply {
    margin-left: 20px; /* 대댓글을 댓글로부터 들여쓰기 */
}

.button-group {
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #45a049;
}