@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@600&display=swap');

.computa_logo{
    width: 80px;
    height: 100px;
}


#wrap{
   /* outline: 1px solid; */
   width: 1000px;
   text-align: center;
   position: relative;
   left: 50%;
   transform: translate(-50%);
}

.notice{
   background-color: aliceblue;
   font-size: 15px;
   font-weight: bold;
   color:brown;
}

.dataTableBody{
  border-collapse: collapse;
  border-color: #187771;
  width: 900px;
  height: auto;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  /* outline: dashed 1px black; */
  font-size: 20px;
  
}


.dataTableBody > div {
   
   border-bottom: 1px solid #187771;
}

.click_con{
   cursor: pointer;
}

.click_con:hover{
   color: rgba(119, 118, 118, 0.795);
}

#qna_pagination{
   
   padding-top: 10px;
   font-size: medium;

   color: black;
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   
   
}

.board_page a.num {
   padding-top: 9px;
   font-size: 1.4rem;
   border-left: 1px solid #1fa098;
   
}
