<!DOCTYPE html>
<html lang="ko">
<!-- 제작자: 최민혁 -->
<!-- 코드: 로그인 화면 -->
<!-- 사용된 외부 파일: login_page.css -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_page</title>
    <link rel="stylesheet" href="./login_page.css">
</head>

<body>
    <form method="post" action="서버url" class="login_page_form">
        <div class="login_head">
            <h2>Login</h2>
        </div>

        <div class="login_box">
            <label for="ID" class="login_id">ID:</label>
            <input type="text" name="userName" placeholder="Enter your ID" required>

            <label for="password" class="login_password">Password:</label>
            <input type="password" name="userPassword" placeholder="Enter your password" required>

            <label for="remember_ID" class="user_remember_id">
                <input type="checkbox" id="remember_ID"> 아이디 저장
            </label>

            <input type="submit" class="user_login" value="Login">
        </div>

        <div class="three_other_link">
            <ul>
                <li><a href="../find_user_id_page/find_user.html">아이디 찾기</a></li>
                /
                <li><a href="../find_password_page/find_pass.html">비밀번호 찾기</a></li>
                /
                <li><a href="../membership_page/membership3.html">회원가입</a></li>
            </ul>
        </div>
    </form>
</body>

</html>
